.cake-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}

.section-one {
    border: 1px solid white;
    background-color: darkslateblue;
}

.caption {
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cake-item {
    border: 1px dashed yellow;
    width: 275px;
    height: 275px;
    padding: 4px;
}

.cake-group {
    border: 2px solid green;
    width: 275px;
}
